<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaMFXRrJgnDtaKwi2cKzMg-Z1IfEI3poo</string>
	<key>GCM_SENDER_ID</key>
	<string>353363797355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sgs.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gestiondestock-33204</string>
	<key>STORAGE_BUCKET</key>
	<string>gestiondestock-33204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353363797355:ios:867555fd2376ec8b56982e</string>
</dict>
</plist>